extends ./layout.jade

block content

  //-------------------------
  //- Header
  //-------------------------
  include includes/header

  //-------------------------
  //- About Us
  //-------------------------
  section#about-us
    .wrapper-inner.section--border
      h2 About Us
      h6 !{clinic.name}

      .about !{about}

      .gallery
        .gallery__item--featured #[img(src='http://placehold.it/400x250', alt='')]
        .gallery__group
          .gallery__item #[img(src='http://placehold.it/400x250', alt='')]
          .gallery__item #[img(src='http://placehold.it/400x250', alt='')]
          .gallery__item #[img(src='http://placehold.it/400x250', alt='')]
          .gallery__item #[img(src='http://placehold.it/400x250', alt='')]
          .gallery__item #[img(src='http://placehold.it/400x250', alt='')]
          .gallery__item #[img(src='http://placehold.it/400x250', alt='')]
          .gallery__item #[img(src='http://placehold.it/400x250', alt='')]
          .gallery__item #[img(src='http://placehold.it/400x250', alt='')]

  //-------------------------
  //- Doctors
  //-------------------------
  section#doctors
    .wrapper-inner.section--border
      h2 Doctors

      .wrapper-cards
        each doctor in doctors
          .card
            .card__img
              img.img--circle(src="#{doctor.photo}")
            .card__title
              h6.margin-bottom--small !{doctor.specialty}
              h3 !{doctor.name}
            .card__desc
              span.caption !{doctor.desc}

  //-------------------------
  //- Services
  //-------------------------
  section#services
    .wrapper-inner.margin-bottom--xlarge
      h6 Services

      ul.services__list
        each service in services
          li.services__item !{service}

  //-------------------------
  //- Information
  //-------------------------
  section#information.section__info
    .wrapper-inner.wrapper-info
      .info-card
        .info-card__inner
          h2.info-card__title Information

          .info-card__row
            .info-card__icon
              .span.ion-android-map
            .info-card__desc
              h6.margin-bottom--small.color--white Location
              h3.font--light !{clinic.name}
              p.margin--zero.caption !{clinic.address} 
              p.caption !{clinic.city}, !{clinic.state} - !{clinic.zip}
              a.color--white(href='', target='_blank') Get directions here
              span.ion-android-arrow-forward.color--white.middle-character

          .info-card__row
            .info-card__icon
              .span.ion-android-alarm-clock
            .info-card__desc
              h6.margin-bottom--small.color--white Schedule
              h3.font--light Monday through Saturday
              h3.font--light.margin--zero 10:00am &mdash; 9:00pm

  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
  .google-map
    #gmap_canvas(style='height:640px;width:100%;')
    style.
      #gmap_canvas img{max-width:none!important;background:none!important}
  script(type='text/javascript').
    function init_map(){var myOptions = {zoom:10,center:new google.maps.LatLng(28.570840100000016,77.22184829921892),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(28.570840100000016,77.22184829921892)});infowindow = new google.maps.InfoWindow({content:'<strong>Title</strong><br>C-545 Chandra Gupta Vithi Rd Block C Defence Colony Block C Defence Colony New Delhi Delhi 110049, India<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);

  //-------------------------
  //- Book Appointment
  //-------------------------
  section#appointment.section__book
    h1.color--white.margin-bottom--xlarge Book an appointment

    .wrapper-inner
      form
        .input-group
          input(type='text', placeholder='First Name')
        .input-group
          input(type='text', placeholder='Last Name')
        .input-group
          input(type='text', placeholder='Email Address')
        .input-group
          textarea(rows='10')
        .input-group
          a.btn--brand-2.btn--full.btn--large.btn--shadow-light Submit

    .wrapper-footer Powered by #[a.color--gray-darkest(href='http://dylal.com/') Dylal]
